.root {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  column-gap: 76px;
}

.orange {
  color: #ff7900;
  font-size: 20px;
}
.blue {
  font-size: 30px;
  color: #3a8ae3;
  font-family: 'Cherry Bomb One', cursive;
}

.red {
  font-family: Comic Sans MS, cursive;
  font-size: 30px;
  color: #ff0000;
}
.pink {
  font-family: 'Lobster', cursive;
  color: #ff1493;
  font-size: 30px;
}
.Violet {
  color: #8a2be2;
  font-family: 'Playball', cursive;
  font-size: 30px;
}
.black {
  font-family: 'Lilita One', cursive;
  color: #000000;
  font-size: 30px;
}
.DarkGray {
  font-family: 'Lilita One', cursive;
  font-size: 30px;
  color: #a9a9a9;
}
.LightBlue {
  font-family: 'Cherry Bomb One', cursive;
  color: #add8e6;
  font-size: 30px;
}
.LightSkyBlue {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 30px;
  color: #87cefa;
}
.PaleVioletRed {
  font-family: 'Playball', cursive;
  font-size: 30px;
  color: #db7093;
}
