.iconbox {
  background-image: url('https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png');
 background-position: -75px -50px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-size: auto auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
