.root {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 29px;
  align-items: center;
  background-color: #353232;
}

.articlesItem {
  padding: 6px;
}

.articalLayout {
  display: flex;
}
/* mobile or tablet */
@media (width <= 702px), (702px < width <= 1264px) {
  .articalLayout {
    width: 100%;
    flex-direction: column;
  }
  .root{
     background-color:brown;
  }
}

/* desktop */
@media (width > 1264px) {
  .root {
    background: rebeccapurple;
  }
}

.titlePage {
  display: flex;
  flex-direction: row;
  align-self: start;
  padding-left: 0.3em;
  color: #ffffff;
}
